# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# building dirs and files
MakeFile
obj
Sapling
*.make

#swap files
*~

# Horde3d Log
Horde3D_Log.html

# Test Binary
Tests/SaplingTests
Tests/run.sh
Tests/Makefile

#python files
__pycache__
